{% extends "layout.html" %}
{% block body %}
                        <tr>
                            <p>
                            <h1> {{ salutation }} </h1>
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                                  <tbody>
                                    <tr>
                                      <td align="left">
                                        <table role="presentation" border="0" cellpadding="0" cellspacing="3">
                                          <tbody>
                                            <tr>
                                                {% if dctLinks %}
                                                {% for key in dctLinks %}
                                                    <td onclick="location.href='{{dctLinks[key]}}'" style="cursor: pointer;">
                                                        <a href="{{dctLinks[key]}}"> {{key}} </a>
                                                    </td>
                                                {% endfor %}
                                                {% endif %}
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                            </p>
                            <p>
                            <h1> {{ body1 }} </h1>
                                {% if images %}
                                    {% for image in images %}
                                    <img src="{{ image }}" alt="Image">
                                    {% endfor %}
                                {% endif %}
                            </p>
                            <p>
                                {{ body2 }}
                            </p>
                            <p>
                                {{ body3 }}
                            </p><br>
                            <p>
                                {{ signature }}
                            </p>
                        </tr>
                        <tr>
                            <p>
                                {{ postscript }}
                            </p>
                        </tr>
                        <!-- END MAIN CONTENT AREA -->
{% endblock %}